
.header__promo__slider {
    
        display: flex;
        background-color: black;
        color: blanchedalmond;
        font-family: 'Nunito', sans-serif;
        font-size: 1rem;
        text-align: center;
        letter-spacing: .1rem;
        width: 100%;
        overflow: hidden; 
        align-items: center;

        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        color: wheat;
        text-align: center;
        
        p {
            width: 100%; float: left; 
            animation: 30s slidy infinite; 
        }
        p:hover {
            filter: brightness(1.4);
        }
        a {
            text-decoration: none;
            color: unset;
        }
}

