.nav {
    background-color: #e7a5d3;
    color: ivory;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    color: ivory;
    font-weight: lighter;
}

.cartLi {
    color: ivory;
}